.legenda-item {
  display: block;
  margin: -5px;
}

.color-block {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  display: inline-block;
}
.legenda-item p {
  display: inline-block;
}

.selected {
  background-color: lightblue;
}
