<mat-dialog-content>
  Of what type is the relation?
  <mat-form-field appearance="outline">
    <mat-select name="relationType" [(ngModel)]="newRelationType">
      <mat-option *ngFor="let type of relationTypes" [value]="type.name">
        <span style="color: {{type.color}}">{{ type.name }}</span>
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="closeDialog()">Close</button>
  <button mat-button mat-dialog-close (click)="saveDialog()">Save</button>
</mat-dialog-actions>
