<div class="container" #container style="width: 2000px">
  <div
    *ngFor="let person of people; let i = index"
    class="person"
    [attr.data-value]="person.name"
    [class]="cssClassOfPerson(person)"
    #person
    id="p-{{person.name.replace(' ','_')}}"
    (click)="trySelectRelation(person.name)"
    cdkDrag
    [cdkDragDisabled]="this.mode !== 0"
    (cdkDragMoved)="update($event)">
    <div class="inner-person">
      <img *ngIf="!person.picture" src="/assets/notfound.png" alt="">
      <img *ngIf="person.picture" src="{{person.picture}}" alt="">
    </div>
  </div>

  <svg>
    <line *ngFor="let connection of connections"
          [attr.x1]="connection.line.sx"
          [attr.y1]="connection.line.sy"
          [attr.x2]="connection.line.ex"
          [attr.y2]="connection.line.ey"
          (click)="selectLine(connection.relation)"
          [class]="lineClass(connection)"
          style="stroke:{{connection.line.color}}; stroke-width:3; cursor: pointer;" />
  </svg>
  <div *ngIf="buttonsVisible" class="buttons">
    <!-- Links -->
    <button title="Configure people">
      <a href="people">
        <mat-icon>people_alt</mat-icon>
      </a>
    </button>
    <button title="Configure relations">
      <a href="relations">
        <mat-icon>favorite</mat-icon>
      </a>
    </button>
    <button title="Configure relation types">
      <a href="types">
        <mat-icon>link</mat-icon>
      </a>
    </button>
    <!-- Modes -->
    <div class="button-divider"></div>
    <button title="Move mode (M)" (click)="setMode(0)" [class]="this.mode == 0 ? 'mode-active' : ''">
      <mat-icon>mouse</mat-icon>
    </button>
    <button title="Relation mode (R)" (click)="setMode(1)" [class]="this.mode == 1 ? 'mode-active' : ''">
      <mat-icon>sync_alt</mat-icon>
    </button>
    <button title="Link mode (L)" (click)="setMode(2)" [class]="this.mode == 2 ? 'mode-active' : ''">
      <mat-icon>search</mat-icon>
    </button>
    <!-- Relation thingies -->
    <div *ngIf="this.mode === 1">
      <div class="button-divider"></div>
      <button title="Create relation" *ngIf="!relationExists()" (click)="createSelectedRelation()">
        <mat-icon>add_circle</mat-icon>
      </button>
      <button title="Delete relation" *ngIf="relationExists()" (click)="deleteSelectedRelation()">
        <mat-icon>delete</mat-icon>
      </button>
      <button title="Change relation" *ngIf="relationExists()" (click)="editSelectedRelation()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>

  <app-legenda [selectedType]="selectedType" [highlight]="this.mode === 1"></app-legenda>
</div>


